body{
  font-family: 'Indie Flower', cursive;
  color: blue;
}

.row{
  clear: both;
  background-color: pink;
}

.jumbotron{
    background-image: url("ño.jpg");
    text-align: center;
    color: white;
    font-size: 80px;   
    background-size: 100%;
}

@media (min-width: 576px){

}
.jumbotron {
    padding: 7rem 2rem;{

}
.row-card-deck{
  background-color: ;
}
.btn-lg{
   background-color: #eeeeee;
   border-color: #eeeeee;
   margin-left: 45%;
   color: #686363;

}
.btn-block{
  text-align: center;

}
.display-4{
  color: #0000FF;
  text-align: center; 
  color: white;
  font-size: 90px;

}
p{
  color:black;
 text-align: center;
             
}    
.camara{
  margin-right: 20%;
  width: 40px;
              
}         
.card{              
  width: 18rem;
  margin-top: 20px;
  border: 13px;
  border-style: solid;             
  color:#ecacef;            
  border-radius: 25px
          
}
.btn-primary{
  background-color: #eeeeee;
  border-color: #eeeeee;    
  color: #686363;
  text-align: center;
                         
}

footer .blanco{

   background-color:white;    
   border: 2px;
   border-style: solid;color:#21252917;    
   text-align: center;
   font-size: 25px;  
   margin-top: 30px;    
   margin-left: 40px;      
   margin-right: 40px;
                  
}     
footer .copyrigth{
   padding-top: 10px;
   font-size: 25px;
   text-align: center;
   margin-left: 40px;
   margin-right: 40px;

 }
footer .logo2{
   width: 15px;    
} 